.read-more {
  @include parallax();
  background-image: linear-gradient($color-dark-translucent, $color-dark-translucent),
    url("./images/Morocco1920x1280.jpg");
  margin-top: 70px;
  color: $color-light;

  &__container {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  &__button {
    @include font("Rubik");
    text-transform: uppercase;
    border: 1px solid $color-light;
    background-color: $transparent;
    text-align: center;
    color: $color-light;
    font-size: 1em;
    padding: 12px 24px;

    &:hover {
      transition: all 0.3s linear;
      color: black;
      background-color: $color-light-tranlucent;
    }
  }
}
