$primary-red: rgb(133, 24, 24);

body {
  margin: 0;
}
html {
  font-size: 1.3em;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #888;
}
::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 20, 20);
}

header {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/jared-verdi-420154-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  nav {
    transition: all 0.8s linear;

    &.nav-scrolled {
      background-color: rgba(3, 3, 3, 0.95);
    }

    ul {
      a {
        background-image: linear-gradient($primary-red, $primary-red);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 3px;
        transition: background-size 0.35s;
      }
      a:hover {
        background-size: 100% 3px;
      }
    }
  }

  section {
    position: absolute;
    top: 22vh;
    color: white;
    border-left: 4px solid $primary-red;
    text-shadow: 1px 1px black;
  }

  a {
    color: white;
  }

  .header_arrow {
    width: 100%;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    i {
      display: inline-block;
      border-radius: 50%;
      background-color: rgb(58, 58, 58);
      padding: 0.4em 0.6em;

      &:hover {
        background-color: rgb(8, 8, 8);
      }
    }
  }
}

main {
  background-color: white;
  padding: 0;

  .opening {
    padding-top: 8vh;
    width: 100%;
    margin: 0;

    h2,
    p {
      text-align: center;
    }

    .row {
      height: 100%;
      padding-top: 4vh;
      .tile {
        height: 100%;
        flex-wrap: nowrap;
        padding-top: 1vh;

        .img-container {
          display: block;
          position: relative;
          height: 0;
          padding-bottom: 67%;
          width: 95%;
          margin: auto;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 2vh;
          }
        }

        h3 {
          text-align: center;
          padding-top: 1vw;
        }
      }
    }
  }
}

.read-more {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("./images/fernando-paredes-murillo-462122-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  color: white;

  .text-container {
    padding-top: 5%;
    padding-bottom: 5%;

    button{
      border:1px solid white;
      background-color: rgba(0,0,0,0);
      text-align: center;
      color:white;
      font-size: 20px;
      padding: 12px 24px;

      &:hover{
        transition: all 0.3s linear;
        color:black;
        background-color: rgba(255,255,255,0.9);
      }
    }
  }
}

footer {
  background-color: rgb(129, 21, 21);
  height: 20vh;
}
