@import url("https://fonts.googleapis.com/css?family=Karla:700|Rubik&display=swap");

$primary-red: rgb(153, 22, 22);

html {
  font-size: 1.3em;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: rgb(247, 247, 247) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
}

p {
  font-family: "Rubik", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #888;
}
::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 20, 20);
}

header {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/jared-verdi-420154-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  nav {
    transition: all 0.8s linear;

    &.nav-scrolled {
      background-color: rgba(3, 3, 3, 0.95);
    }

    ul {
      a {
        background-image: linear-gradient($primary-red, $primary-red);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 3px;
        transition: background-size 0.35s;
      }
      a:hover {
        background-size: 100% 3px;
      }
    }
  }

  section {
    position: absolute;
    top: 22vh;
    color: white;
    border-left: 4px solid $primary-red;
    text-shadow: 1px 1px black;
  }

  a {
    color: white;
  }

  .header-arrow {
    width: 100%;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    i {
      display: inline-block;
      border-radius: 50%;
      background-color: rgb(58, 58, 58);
      padding: 0.4em 0.6em;
      color: white;

      &:hover {
        background-color: rgb(8, 8, 8);
        color: $primary-red;
      }
    }
  }
}

main {
  padding: 0;
}

.intro {
  padding-top: 10vh;
  .intro-container {
    padding-left: 3%;
    padding-right: 3%;
    .intro-theme {
      h2 {
        .span-underline {
          background-image: linear-gradient($primary-red, $primary-red);
          background-position: 0% 100%;
          background-repeat: no-repeat;
          background-size: 50% 3px;
          padding-bottom: 5px;
        }
        .span-color {
          color: $primary-red;
        }
      }
      p {
        color: grey;
        padding-top: 1.5vh;
        text-align: justify;
      }
    }

    .intro-photo {
      figure {
        display: block;
        position: relative;
        height: 100%;
        padding-left: 100%;
        width: 0;
        margin: auto;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 1vh;
        }
      }
    }
  }
}

.gallery {
  padding-top: 10vh;
  width: 100%;
  margin: 0;

  h2,
  p {
    text-align: center;
  }

  p {
    color: gray;
  }

  .row {
    height: 100%;
    padding-top: 4vh;
    padding-left: 3%;
    padding-right: 3%;

    .tile-visible {
      height: 100%;
      flex-wrap: nowrap;
      padding-top: 1vh;
      position: relative;
      top:0;
      transition: all 1s;
      opacity: 1;

      figure {
        display: block;
        position: relative;
        height: 0;
        padding-bottom: 100%;
        width: 100%;
        margin: auto;

        img {
          position: absolute;
          top: 0;
          left: 5%;
          width: 90%;
          height: 90%;
          border-radius: 50%;
        }
      }

      h3 {
        text-align: center;
        padding-top: 1vw;
      }

      p {
        text-align: justify;
        padding-bottom: 1vh;
      }
    }
    
    .tile-invisible {
      opacity: 0;
      position: relative;
      top:4vh;
    }
  }
}

.read-more {
  margin-top: 10vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("./images/fernando-paredes-murillo-462122-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  color: white;

  .text-container {
    padding-top: 5%;
    padding-bottom: 5%;

    button {
      border: 1px solid white;
      background-color: rgba(0, 0, 0, 0);
      text-align: center;
      color: white;
      font-size: 20px;
      padding: 12px 24px;

      &:hover {
        transition: all 0.3s linear;
        color: black;
        background-color: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

.statistics {
  margin-top: 5vh;
  padding-top: 7vh;
  background-image: linear-gradient(rgba(23, 6, 90, 0.3), rgba(23, 6, 90, 0.3)),
    url("./images/patrick-schneider-1062220-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;

  h1 {
    padding-top: 5vh;
  }

  .counter-container {
    padding-bottom: 5vh;

    .counter {
      padding-top: 25vh;

      .value {
        font-size: 150%;
      }
    }
  }
}

footer {
  $footer-color: rgb(153, 153, 153);
  background-color: rgba(0, 0, 0, 0.87);
  color: $footer-color;
  padding-bottom: 3vh;
  font-size: 90%;

  .container {
    padding-top: 10vh;

    h5 {
      color: white;
      padding-bottom: 1vh;
    }

    ul {
      padding-left: 0;
      list-style-type: none;
      li {
        padding-bottom: 1vh;
        a {
          color: inherit;

          &:hover {
            color: $primary-red;
            text-decoration: none;
          }
        }
      }
    }

    .footer-ending {
      border-top: 1px solid $footer-color;
      padding-top: 2vh;

      .signature {
        padding-top: 1vh;
        p {
          color: white;
          margin-bottom: 0;
        }

        a {
          color: $primary-red;
        }
      }
    }

    .social {
      padding-top: 1vh;
      li {
        a {
          i {
            font-size: 150%;
            color: white;

            &:hover {
              color: $primary-red;
            }
          }
        }
      }
    }
  }
}
