@import url("https://fonts.googleapis.com/css?family=Karla:700|Rubik&display=swap");
@import "./scss/variables.scss";
@import "./scss/mixins.scss";
@import "./scss/header/header.scss";
@import "./scss/header/navbar.scss";
@import "./scss/main/intro.scss";
@import "./scss/main/gallery.scss";
@import "./scss/main/galleryTile.scss";
@import "./scss/main/readMore.scss";
@import "./scss/main/statistics.scss";
@import "./scss/main/counter.scss";
@import "./scss/footer/footer.scss";
@import "./scss/mediaQuery.scss";

html {
  font-size: 1.3em;
  scroll-behavior: smooth;
  @include scrollbar();
}

body {
  margin: 0;
}

main {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font("Karla");
}

p,
a {
  @include font("Rubik");
}
