.read-more {
  @include parallax();
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("./images/Morocco1920x1280.jpg");
  margin-top: 10vh;
  color: white;

  &__container {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  &__button {
    @include font("Rubik");
    text-transform: uppercase;
    border: 1px solid white;
    background-color: $transparent;
    text-align: center;
    color: white;
    font-size: 1em;
    padding: 12px 24px;

    &:hover {
      transition: all 0.3s linear;
      color: black;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}
