$color-primary-red: rgb(252, 4, 4);
$color-secondary-red: rgb(185, 9, 9);
$color-grey: rgb(105, 105, 105);
$color-dark-grey: rgb(153, 153, 153);

$color-dark: rgb(27, 27, 27);
$color-very-dark: rgb(8, 8, 8);
$color-dark-translucent: rgba(0, 0, 0, 0.55);

$color-light: white;
$color-light-tranlucent: rgba(255, 255, 255, 0.9);

$color-black: black;
$color-black-translucent: rgba(3, 3, 3, 0.95);

$color-violet-translucent: rgba(23, 6, 90, 0.3);

$transparent: rgba(0, 0, 0, 0);
